<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Campus42</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string />
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string />
			<key>CFBundleURLName</key>
			<string>Bundle Id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.campus42.app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>61</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array />
	<key>LSApplicationCategoryType</key>
	<string />
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NFCReaderUsageDescription</key>
	<string>NFC is required to scan your student card and verify that you are a student</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true />
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true />
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to the calendar to create calendar events for you.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to create events, blogs and societies as well as when scanning qr codes on tickets.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires your location to show relevant features on the campus maps</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires your location to show relevant features on the campus maps</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone when capturing videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires access to the photo library to upload images on your request.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to upload images on your request.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to the media library to upload images on your request.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Dosis.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>MPLUSRounded1c-Black.ttf</string>
		<string>MPLUSRounded1c-Bold.ttf</string>
		<string>MPLUSRounded1c-ExtraBold.ttf</string>
		<string>MPLUSRounded1c-Light.ttf</string>
		<string>MPLUSRounded1c-Medium.ttf</string>
		<string>MPLUSRounded1c-Regular.ttf</string>
		<string>MPLUSRounded1c-Thin.ttf</string>
		<string>LibreBarcode128-Regular.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Changa-Bold.ttf</string>
		<string>Changa-ExtraBold.ttf</string>
		<string>Changa-ExtraLight.ttf</string>
		<string>Changa-Light.ttf</string>
		<string>Changa-Medium.ttf</string>
		<string>Changa-Regular.ttf</string>
		<string>Changa-SemiBold.ttf</string>
		<string>ConcertOne-Regular.ttf</string>
		<string>Oxygen-Bold.ttf</string>
		<string>Oxygen-Light.ttf</string>
		<string>Oxygen-Regular.ttf</string>
		<string>Exo-Black.ttf</string>
		<string>Exo-BlackItalic.ttf</string>
		<string>Exo-Bold.ttf</string>
		<string>Exo-BoldItalic.ttf</string>
		<string>Exo-ExtraBold.ttf</string>
		<string>Exo-ExtraBoldItalic.ttf</string>
		<string>Exo-ExtraLight.ttf</string>
		<string>Exo-ExtraLightItalic.ttf</string>
		<string>Exo-Italic.ttf</string>
		<string>Exo-Light.ttf</string>
		<string>Exo-LightItalic.ttf</string>
		<string>Exo-Medium.ttf</string>
		<string>Exo-MediumItalic.ttf</string>
		<string>Exo-Regular.ttf</string>
		<string>Exo-SemiBold.ttf</string>
		<string>Exo-SemiBoldItalic.ttf</string>
		<string>Exo-Thin.ttf</string>
		<string>Exo-ThinItalic.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
</dict>
</plist>
